* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}


/* NAVBAR */
.navigation {
    width: 16.7%;
    background: black;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    margin-top: 50px;

}

.navigation ul li {
    list-style: none;
    width: 100%;

}



.navigation ul li a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;

}



.navigation ul li a .icon {
    margin-left: 1.5em;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.2em;
}

.navigation>img {
    width: 60px;
    margin-top: 30px;
    margin-left: 25px;
}

.product {
    background-color: rgba(114, 114, 114, 0.514);
    width: 80%;
    height: 100%;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
    gap: 5%;

    .top-product {
        display: flex;
        text-align: center;
        gap: 10%;

        .top {
            width: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;

            .instock,
            .category,
            .sold-out,
            .income {
                background-color: rgb(202, 195, 195);
                height: 2em;
                font-size: x-large;
                border: 0;
                border-radius: 9px;

            }
        }

    }

    .under-product {
        height: 100%;
        display: flex;
        overflow: auto;

        table {
            color: white;
            width: 100%;
            border-collapse: collapse;

            th {
                background-color: black;
                border: 1px solid white;
                padding: 20px 0 10px 0;

            }

            td {
                background-color: rgb(92, 92, 92);
                text-align: center;
                border: 1px solid white;
                padding: 10px 0 10px 0;
            }
        }
    }
}