* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}


/* NAVBAR */
.navigation{
    width: 20%;
    background:black;
}
.navigation ul{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    margin-top: 50px;
    
}
.navigation ul li{
    list-style: none;
    width: 100%; 
    
}
.navigation ul li.action{
    width: 85.5%;
}
.navigation ul li a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;

}

.navigation ul li a .icon{
    margin-left : 1.5em;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.2em;
}
.navigation>img{
    width: 60px;
    margin-top: 30px;
    margin-left: 25px;
}


.orders {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;


    .product-order {
        width: 30%;

        .search-order {
            background-color: black;
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 4em 1em 3em 3em;
            border-radius: 10px;

            input {
                padding: 10px;
                width: 100%;
                height: 2.7em;
                font-size: 135%;
                border-radius: 5px;
            }


            ion-icon {
                color: white;
                font-size: 350%;
            }
        }

        .show_list_ID {
            height: 16em;
            margin: 4em 1em 3em 3em;
            border: 1px solid black;

            .top {
                background-color: #4b4949;
                color: rgba(214, 214, 214, 0.795);
                height: 4em;
                display: flex;
                justify-content: center;
                text-align: center;
                border: 1px solid black;
                align-items: center;
            }

            .onder {
                height: 11.9em;
                display: flex;
                font-size: 20px;

                .onder_qty {
                    width: 12em;
                    padding: 3.5em 0 0 0.5em;
                }

                .onder_number {
                    width: 6em;
                    padding: 3.5em 0 0 0em;

                    h3 {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                    }
                }
            }
        }

        .click_add {
            background-color: #4b4949;
            color: rgba(214, 214, 214, 0.795);
            width: 81%;
            height: 3em;
            font-size: 120%;
            border-radius: 5px;
            margin: 1em 0 0 2.5em;
        }
    }

    .boder {
        display: flex;
        margin: 0;
        margin: 2em 3em 2em 2em;
    }

    .order-list {
        width: 70%;
        background-color: rgb(200, 200, 200);

        .list {
            height: 60%;
            margin: 3em 2em 2em 3em;
            border: 1px solid black;

            .list_left {
                background-color: white;
                width: 100%;
                height: 100%;
                overflow: auto;

                table {
                    background-color: rgb(198, 195, 195);
                    width: 89%;
                    margin: 2em 1em 2em 2em;
                    border-collapse: collapse;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;

                    tbody {


                        tr {

                            border-bottom: 1px solid black;

                            td {
                                padding: 10px;
                                img{
                                    width: 40px;
                                }
                                input {
                                    width: 7em;
                                    height: 2.5em;
                                    text-align: center;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }

            .list_right {
                margin: 2em;
            }
        }


        .check_out {
            background-color: #4b4949;
            color: rgba(214, 214, 214, 0.795);
            width: 50%;
            height: 3em;
            font-size: 120%;
            margin: 7% 25%;
            border-radius: 5px;

        }
    }

}

.total{
    margin-left: 0.5em;
}


/* Payment */
#payment{
    width: 25%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 40%;
    dialog{
        width: 100%;
        height: 100%;
        border-radius: 5%;
        gap: 10%;
        background-color: beige;
        .scan{
            margin: 5%;
            margin-left: 30%;
        }
        img{
            margin-left: 2.5em;
        }
        .btnDone{
            padding: 12px;
            width: 30%;
            margin-left: 7em;
            margin-top: 1.5em;
            background: black;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            border: none;
        }
    }
}

#PDF{
    width: 25%;
    border-radius: 5px;
    color: white;
    background-color: rgb(167, 28, 10);
    position: absolute;
    top: 73.5%;
    right: 36%;
}

/* Hide and show payment */
.show{
    display: block;
}
.hide{
    display: none;
}

.main{
    background-color: rgb(147, 143, 143);
}
